In [1]:
# Load generated dataset
import pandas as pd

data = pd.read_csv('cleaned-dataset.csv')
data

,Jenjang Pendidikan,Jurusan,Pelatihan Tema,Nama Pelatihan,Sertifikasi,Bidang Sertifikasi,Pekerjaan Posisi,Lama Bekerja,Okupasi ID,Area Fungsi
0,S3,Hukum Bisnis,Tata Kelola TI,IT Governance and Risk Management,CISSP,Keamanan Informasi,Chief Information Officer,15 tahun 0 bulan,PEMIMPIN INFORMASI,Tata Kelola Teknologi Informasi
1,S2,Teknologi Informasi,Manajemen Proyek TI,Certified Project Management Professional (PMP),PMP,Manajemen Proyek,VP of IT,12 tahun 6 bulan,PEMIMPIN INFORMASI,Tata Kelola Teknologi Informasi
2,S1,Sistem Informasi,Arsitektur Perusahaan,TOGAF Certified,TOGAF,Arsitektur Perusahaan,Enterprise Architect,9 tahun 0 bulan,PEMIMPIN INFORMASI,Tata Kelola Teknologi Informasi
3,S2,Manajemen Bisnis,Kepatuhan TI,Certified Information Systems Auditor (CISA),CISA,Audit Sistem Informasi,IT Compliance Manager,10 tahun 0 bulan,PEMIMPIN INFORMASI,Tata Kelola Teknologi Informasi
4,S3,Ilmu Komputer,Keamanan Siber,Certified Information Security Manager (CISM),CISM,Manajemen Keamanan Informasi,Chief Information Security Officer,14 tahun 0 bulan,PEMIMPIN INFORMASI,Tata Kelola Teknologi Informasi
...,...,...,...,...,...,...,...,...,...,...
1686,SMK,Otomatisasi dan Tata Kelola Perkantoran,Kesekretariatan,Pelatihan Sekretaris,Sertifikat Sekretaris,Administrasi,Sekretaris,2 tahun 4 bulan,STAF OPERATOR PERKANTORAN,Layanan Teknologi Informasi
1687,SMK,Teknik Komputer dan Jaringan,Keamanan Jaringan,Pelatihan Keamanan Siber Dasar,Sertifikat Cybersecurity,Keamanan IT,Analyst Keamanan Junior,1 tahun 3 bulan,STAF OPERATOR PERKANTORAN,Layanan Teknologi Informasi
1688,SMA,Ilmu Pengetahuan Sosial,Pelatihan Office Suite,Microsoft Office Specialist,Sertifikat MOS,Office Suite,Staf Administrasi,1 tahun 7 bulan,STAF OPERATOR PERKANTORAN,Layanan Teknologi Informasi
1689,SMK,Teknik Komputer dan Jaringan,IT Support,Pelatihan IT Helpdesk,Sertifikat IT Support,IT Support,Teknisi IT Support,2 tahun 5 bulan,STAF OPERATOR PERKANTORAN,Layanan Teknologi Informasi
1690,SMK,Otomatisasi dan Tata Kelola Perkantoran,Pengelolaan Data,Pelatihan Excel Tingkat Lanjut,Sertifikat Excel,Analisis Data,Staf Analis Data,1 tahun 9 bulan,STAF OPERATOR PERKANTORAN,Layanan Teknologi Informasi

In [2]:
# Delete value if contain '-' so its like a missing value
data = data.replace('-', pd.NA)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1691 entries, 0 to 1690
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Jenjang Pendidikan  1691 non-null   object
 1   Jurusan             1687 non-null   object
 2   Pelatihan Tema      1684 non-null   object
 3   Nama Pelatihan      1673 non-null   object
 4   Sertifikasi         1454 non-null   object
 5   Bidang Sertifikasi  1483 non-null   object
 6   Pekerjaan Posisi    1661 non-null   object
 7   Lama Bekerja        1591 non-null   object
 8   Okupasi ID          1691 non-null   object
 9   Area Fungsi         1691 non-null   object
dtypes: object(10)
memory usage: 132.2+ KB

In [4]:
# Check missing values
data.isnull().sum()

Jenjang Pendidikan      0
Jurusan                 4
Pelatihan Tema          7
Nama Pelatihan         18
Sertifikasi           237
Bidang Sertifikasi    208
Pekerjaan Posisi       30
Lama Bekerja          100
Okupasi ID              0
Area Fungsi             0
dtype: int64

In [5]:
# Drop missing values in Jenjang Pendidikan
data = data.dropna(subset=['Jenjang Pendidikan'])

In [6]:
# Drop if values in Jenjang Pendidikan are more than 3 characters
data = data[data['Jenjang Pendidikan'].str.len() <= 3]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1691 entries, 0 to 1690
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Jenjang Pendidikan  1691 non-null   object
 1   Jurusan             1687 non-null   object
 2   Pelatihan Tema      1684 non-null   object
 3   Nama Pelatihan      1673 non-null   object
 4   Sertifikasi         1454 non-null   object
 5   Bidang Sertifikasi  1483 non-null   object
 6   Pekerjaan Posisi    1661 non-null   object
 7   Lama Bekerja        1591 non-null   object
 8   Okupasi ID          1691 non-null   object
 9   Area Fungsi         1691 non-null   object
dtypes: object(10)
memory usage: 132.2+ KB

In [8]:
# Drop column Jurusan if contain missing values
data = data.dropna(subset=['Jurusan'])

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1687 entries, 0 to 1690
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Jenjang Pendidikan  1687 non-null   object
 1   Jurusan             1687 non-null   object
 2   Pelatihan Tema      1681 non-null   object
 3   Nama Pelatihan      1670 non-null   object
 4   Sertifikasi         1453 non-null   object
 5   Bidang Sertifikasi  1482 non-null   object
 6   Pekerjaan Posisi    1657 non-null   object
 7   Lama Bekerja        1588 non-null   object
 8   Okupasi ID          1687 non-null   object
 9   Area Fungsi         1687 non-null   object
dtypes: object(10)
memory usage: 145.0+ KB

In [10]:
# Delete value if contain '-' so its like a missing value
data = data.replace(' -', pd.NA)
data = data.replace('.', pd.NA)
data = data.replace("'", pd.NA)
data = data.replace('undefined', pd.NA)
data = data.replace('none', pd.NA)

In [11]:
# Missing value check
data.isnull().sum()

Jenjang Pendidikan      0
Jurusan                 0
Pelatihan Tema          6
Nama Pelatihan         17
Sertifikasi           250
Bidang Sertifikasi    221
Pekerjaan Posisi       30
Lama Bekerja           99
Okupasi ID              0
Area Fungsi             0
dtype: int64

In [12]:
# If Pekerjaan Posisi is missing, change Lama Bekerja to missing too
data.loc[data['Pekerjaan Posisi'].isnull(), 'Lama Bekerja'] = pd.NA

In [13]:
data = data.replace(' - ', pd.NA)
data = data.replace(' . ', pd.NA)
data = data.replace(' -- ', pd.NA)
data = data.replace(' --- ', pd.NA)
data = data.replace('...', pd.NA)
data = data.replace(' ... ', pd.NA)
data = data.replace('(kosong)', pd.NA)
data = data.replace('_', pd.NA)
data = data.replace('ok', pd.NA)

# Change to missing if column Bidang Sertifikasi contains tahun/bulan
data.loc[data['Bidang Sertifikasi'].str.contains(r'\b(tahun|bulan|thn|bln)\b', na=False, case=False), 'Bidang Sertifikasi'] = pd.NA

C:\Users\naufa\AppData\Local\Temp\ipykernel_24532\529742896.py:12: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  data.loc[data['Bidang Sertifikasi'].str.contains(r'\b(tahun|bulan|thn|bln)\b', na=False, case=False), 'Bidang Sertifikasi'] = pd.NA

In [14]:
data = data.replace('---', pd.NA)
data = data.replace('--', pd.NA)
data = data.replace(' (kosong)', pd.NA)
data.loc[data['Sertifikasi'].str.contains(r'\b(tahun|bulan|thn|bln)\b', na=False, case=False), 'Sertifikasi'] = pd.NA

C:\Users\naufa\AppData\Local\Temp\ipykernel_24532\1818248484.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  data.loc[data['Sertifikasi'].str.contains(r'\b(tahun|bulan|thn|bln)\b', na=False, case=False), 'Sertifikasi'] = pd.NA

In [15]:
# Delete values if Pekerjaan Posisi contain tahun/bulan
data.loc[data['Pekerjaan Posisi'].str.contains(r'\b(tahun|bulan|thn|bln)\b', na=False, case=False), 'Pekerjaan Posisi'] = pd.NA

C:\Users\naufa\AppData\Local\Temp\ipykernel_24532\1661043318.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  data.loc[data['Pekerjaan Posisi'].str.contains(r'\b(tahun|bulan|thn|bln)\b', na=False, case=False), 'Pekerjaan Posisi'] = pd.NA

In [16]:
# Save cleaned dataset
data.to_csv('cleaned-dataset3.csv', index=False)